* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  cursor: grab;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.spin-text {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  z-index: 5;
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -25%);
}
